<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="SetupDatabase" Language="1033" Version="1.0.0.0" Manufacturer="MSIT" UpgradeCode="09692f31-722e-4625-a5b6-d4f3805c78a5">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <MediaTemplate />

        <Feature Id="ProductFeature" Title="SetupDatabase" Level="1">
            <ComponentGroupRef Id="SqlPackageComponents"/>
            <ComponentGroupRef Id="DacPacComponents"/>
        </Feature>

        <InstallExecuteSequence>
            <Custom Action="SetCommandLine" Before="InstallFiles"/>
            <Custom Action="ExecCommandLine" After="InstallFiles" >
                <![CDATA[&ProductFeature=3 AND NOT REMOVE]]>   <!--Only run this custom action if a certain feature is being installed--> <!-- NO Action on Uninstall -->
            </Custom>
        </InstallExecuteSequence>
    </Product>

    <Fragment>
        <CustomAction Id="SetCommandLine"
                      Property="ExecCommandLine"
                      Value="&quot;[DACINSTALLFOLDER]\SqlPackage.exe&quot; /Action:Publish /SourceFile:&quot;[DBINSTALLFOLDER]\testdb.dacpac&quot; /TargetServerName:[TARGETSERVERNAME] /TargetDatabaseName:[TARGETDATABASENAME]"
                      Execute="immediate"/>
        <CustomAction Id="ExecCommandLine" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="check" Impersonate="yes"/>
    </Fragment>

    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLFOLDER" Name="SetupDatabase">
                    <Directory Id="DACINSTALLFOLDER" Name="SqlPackage" />
                    <Directory Id="DBINSTALLFOLDER"  Name="Database" />
                </Directory>
            </Directory>
        </Directory>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="DacPacComponents" Directory="DBINSTALLFOLDER">
            <Component Id="Comp.TestDB.DacPac" Guid="*">
                <File Id="File.TestDB.DacPac" Source="$(var.TestDB.TargetDir)TestDB.dacpac" KeyPath="yes" Checksum="yes"/>
            </Component>
        </ComponentGroup>

        <?define SSDT = "C:\Program Files (x86)\Microsoft SQL Server\120\DAC\bin\"?>

        <ComponentGroup Id="SqlPackageComponents" Directory="DACINSTALLFOLDER">
            <Component Id="Comp.SqlPackage.exe" Guid="*">
                <File Id="File.SqlPackage.exe" Source="$(var.SSDT)SqlPackage.exe" KeyPath="yes" Checksum="yes"/>
            </Component>
            <Component Id="Comp.SqlPackage.exe.config" Guid="*">
                <File Id="File.SqlPackage.exe.config" Source="$(var.SSDT)SqlPackage.exe.config" KeyPath="yes" Checksum="yes"/>
            </Component>
            <Component Id="Comp.Microsoft.Data.Tools.Schema.Sql.dll" Guid="*">
                <File Id="File.Microsoft.Data.Tools.Schema.Sql.dll" Source="$(var.SSDT)Microsoft.Data.Tools.Schema.Sql.dll" KeyPath="yes" Checksum="yes"/>
            </Component>
            <Component Id="Comp.Microsoft.Data.Tools.Utilities.dll" Guid="*">
                <File Id="File.Microsoft.Data.Tools.Utilities.dll" Source="$(var.SSDT)Microsoft.Data.Tools.Utilities.dll" KeyPath="yes" Checksum="yes"/>
            </Component>
            <Component Id="Comp.Microsoft.SqlServer.Dac.dll" Guid="*">
                <File Id="File.Microsoft.SqlServer.Dac.dll" Source="$(var.SSDT)Microsoft.SqlServer.Dac.dll" KeyPath="yes" Checksum="yes"/>
            </Component>
            <Component Id="Comp.Microsoft.SqlServer.TransactSql.ScriptDom.dll" Guid="*">
                <File Id="File.Microsoft.SqlServer.TransactSql.ScriptDom.dll" Source="$(var.SSDT)Extensions\Microsoft.SqlServer.TransactSql.ScriptDom.dll" KeyPath="yes" Checksum="yes"/>
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
