<?xml version="1.0" encoding="Windows-1252"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Bundle Name="MyProduct" UpgradeCode="6f330b47-2577-43ad-9095-1861bb25844b" Version="1.0.0.0" >
    <BootstrapperApplicationRef Id="ManagedBootstrapperApplicationHost">
      <Payload SourceFile="bin\Debug\WixSharp.UI.dll" />
      <Payload SourceFile="BootstrapperCore.config" />
      <Payload SourceFile="bin\Debug\Microsoft.Deployment.WindowsInstaller.dll" />
    </BootstrapperApplicationRef>

    <Variable Name="_WixSharp.Bootstrapper.SilentManagedBA.PrimaryPackageId" Value="MyProduct.msi" Persisted="yes" Type="string" />

    <Chain>
      <PackageGroupRef Id="NetFx40Web" />

      <MsiPackage Name="MyProduct.msi" Id="MyProduct.msi" DisplayInternalUI="yes" SourceFile="MyProduct.msi">
        <MsiProperty Name="WIXBUNDLEORIGINALSOURCE" Value="[WixBundleOriginalSource]" />
      </MsiPackage>
    </Chain>
  </Bundle>
</Wix>

