
--  Num Tables: 24
/*
READ procedure for [dbo].[Clustered]
*/
CREATE PROCEDURE [dbo].[READ_Clustered]
AS
SELECT * from [dbo].[Clustered]

GO

/*
READ procedure for [dbo].[ClusteredPK]
*/
CREATE PROCEDURE [dbo].[READ_ClusteredPK]
AS
SELECT * from [dbo].[ClusteredPK]

GO

/*
READ procedure for [dbo].[Company]
*/
CREATE PROCEDURE [dbo].[READ_Company]
AS
SELECT * from [dbo].[Company]

GO

/*
READ procedure for [dbo].[Deadlock]
*/
CREATE PROCEDURE [dbo].[READ_Deadlock]
AS
SELECT * from [dbo].[Deadlock]

GO

/*
READ procedure for [dbo].[Employee]
*/
CREATE PROCEDURE [dbo].[READ_Employee]
AS
SELECT * from [dbo].[Employee]

GO

/*
READ procedure for [dbo].[EventsDataX]
*/
CREATE PROCEDURE [dbo].[READ_EventsDataX]
AS
SELECT * from [dbo].[EventsDataX]

GO

/*
READ procedure for [dbo].[FragmentationLog]
*/
CREATE PROCEDURE [dbo].[READ_FragmentationLog]
AS
SELECT * from [dbo].[FragmentationLog]

GO

/*
READ procedure for [dbo].[int_misc_code]
*/
CREATE PROCEDURE [dbo].[READ_int_misc_code]
AS
SELECT * from [dbo].[int_misc_code]

GO

/*
READ procedure for [dbo].[People]
*/
CREATE PROCEDURE [dbo].[READ_People]
AS
SELECT * from [dbo].[People]

GO

/*
READ procedure for [dbo].[Person]
*/
CREATE PROCEDURE [dbo].[READ_Person]
AS
SELECT * from [dbo].[Person]

GO

/*
READ procedure for [dbo].[Pets]
*/
CREATE PROCEDURE [dbo].[READ_Pets]
AS
SELECT * from [dbo].[Pets]

GO

/*
READ procedure for [dbo].[PetTypes]
*/
CREATE PROCEDURE [dbo].[READ_PetTypes]
AS
SELECT * from [dbo].[PetTypes]

GO

/*
READ procedure for [dbo].[ResourceStrings]
*/
CREATE PROCEDURE [dbo].[READ_ResourceStrings]
AS
SELECT * from [dbo].[ResourceStrings]

GO

/*
READ procedure for [dbo].[SequentialTest]
*/
CREATE PROCEDURE [dbo].[READ_SequentialTest]
AS
SELECT * from [dbo].[SequentialTest]

GO

/*
READ procedure for [dbo].[T]
*/
CREATE PROCEDURE [dbo].[READ_T]
AS
SELECT * from [dbo].[T]

GO

/*
READ procedure for [dbo].[T1]
*/
CREATE PROCEDURE [dbo].[READ_T1]
AS
SELECT * from [dbo].[T1]

GO

/*
READ procedure for [dbo].[Table1]
*/
CREATE PROCEDURE [dbo].[READ_Table1]
AS
SELECT * from [dbo].[Table1]

GO

/*
READ procedure for [dbo].[Table2]
*/
CREATE PROCEDURE [dbo].[READ_Table2]
AS
SELECT * from [dbo].[Table2]

GO

/*
READ procedure for [dbo].[tblGUID_test]
*/
CREATE PROCEDURE [dbo].[READ_tblGUID_test]
AS
SELECT * from [dbo].[tblGUID_test]

GO

/*
READ procedure for [dbo].[tblINT_test]
*/
CREATE PROCEDURE [dbo].[READ_tblINT_test]
AS
SELECT * from [dbo].[tblINT_test]

GO

/*
READ procedure for [dbo].[TenMillionRows]
*/
CREATE PROCEDURE [dbo].[READ_TenMillionRows]
AS
SELECT * from [dbo].[TenMillionRows]

GO

/*
READ procedure for [dbo].[TestPages]
*/
CREATE PROCEDURE [dbo].[READ_TestPages]
AS
SELECT * from [dbo].[TestPages]

GO

/*
READ procedure for [dbo].[Untitled - 1]
*/
CREATE PROCEDURE [dbo].[READ_Untitled - 1]
AS
SELECT * from [dbo].[Untitled - 1]

GO

/*
READ procedure for [dbo].[WideTable]
*/
CREATE PROCEDURE [dbo].[READ_WideTable]
AS
SELECT * from [dbo].[WideTable]

GO


